.paddedContainer {
	padding: 0 170px;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Pro */
@media only screen and (max-width: 1024px) {
    .paddedContainer {
	padding: 0 90px;
}
}
/* Small device */
@media only screen and (max-width: 834px), (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
	.paddedContainer {
		padding: 0 64px;
	}
}
/* Tiny device */
@media only screen and (max-width: 480px) {
	.paddedContainer {
		padding: 0 24px;
	}
}
