.section {
	overflow: hidden;
	margin-bottom: 100px;
}

.labelContainer {
	overflow: visible;
	height: 110px;
}

.title {
	color: rgba(255, 255, 255, 0.3);
	font-family: var(--font-space-g);
	font-size: 150px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 180px */
	letter-spacing: -7.5px;
	width: 2100px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.title .white {
	color: #fff;
}

.gameplay {
	padding: 0 200px;
	/* margin-bottom: 100px; */
	width: 100%;
	height: auto;
	aspect-ratio: 1350 / 655 !important;
	margin-bottom: 16px;
}

.gameplayBg {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 400px);
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.gameplayButtonContainer {
	z-index: 1;
}

.gameplayButtonContent {
	padding: 20px 30px !important;
}

.gameplayButtonText {
	font-size: 16px;
}

.tilesWrapper {
	height: 257px;
	overflow: visible;
	z-index: 2;
	padding: 0 100px;
}

.tiles {
	gap: 0 30px;
	height: 257px;
}

.oddTile {
	width: 315px;
	height: 315px;
	padding: 18px 40px 40px 40px;
	border: 1px solid #ae2366;
	background: #ec1b24;
}

.oddTileHeader {
	gap: 63px 0;
}

.oddTileTitleNumber {
	color: #cf8686;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #0b060f;
	font-family: var(--font-space-g);
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 80px */
}

.oddTileTitle {
	color: #fff;
	font-family: var(--font-space-g);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 28px */
}

.oddTileText {
	color: #fff;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 22.4px */
}

.tile {
	width: 319px;
	height: 258px;
	border: none;
	background: var(--background-gradient);
	padding: 1px;
	/* border-top-color: rgba(236, 27, 36, 1); */
	/* border-bottom-color: rgba(236, 27, 36, 1); */
}

.tileContainer {
	padding: 30px 40px;
	background: #0b060f;
	height: 100%;
}

.tileHeader {
	gap: 16px;
}

.tileTitleNumber {
	color: #787167;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ec1b24;
	font-family: var(--font-space-g);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 50px */
}

.tileTitle {
	color: #fff;
	font-family: var(--font-space-g);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 28px */
}

.tileText {
	color: #a1a1a1;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 22.4px */
}

/* .oddTile.cutIn {
	clip-path: polygon(
		0 0,
		20px 0,
		30px 10px,
		calc(100% - 30px) 10px,
		calc(100% - 20px) 0,
		100% 0,
		100% 100%,
		0 100%
	);
} */

/* .oddTile.cutIn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 20px;
  width: 40px;
  height: 10px;
  background: #0d0d0f;
  border-left: 2px solid #ff007a;
  border-right: 2px solid #ff007a;
} */
