.section {
	overflow: hidden;
	margin-bottom: 100px;
}

.labelContainer {
	overflow: visible;
	height: 110px;
}

.title {
	color: rgba(255, 255, 255, 0.3);
	font-family: var(--font-space-g);
	font-size: 150px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 180px */
	letter-spacing: -7.5px;
	width: 2100px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.title .white {
	color: #fff;
}

.gameplay {
	padding: 0 200px;
	/* margin-bottom: 100px; */
	width: 100%;
	height: auto;
	aspect-ratio: 1350 / 655 !important;
	margin-bottom: 16px;
}

.gameplayBg {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 400px);
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.gameplayButtonContainer {
	z-index: 1;
}

.gameplayButtonContent {
	padding: 20px 30px !important;
}

.gameplayButtonText {
	font-size: 16px;
}

.tilesWrapper {
	height: 257px;
	overflow: visible;
	z-index: 2;
	padding: 0 100px;
}

.tiles {
	gap: 0 30px;
	height: 257px;
}

.oddTile {
	width: 315px;
	height: 315px;
	padding: 18px 40px 40px 40px;
	border: 1px solid #ae2366;
	background: #ec1b24;
}

.oddTileHeader {
	gap: 63px 0;
}

.oddTileTitleNumber {
	color: #cf8686;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #0b060f;
	font-family: var(--font-space-g);
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 80px */
}

.oddTileTitle {
	color: #fff;
	font-family: var(--font-space-g);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 28px */
}

.oddTileText {
	color: #fff;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 22.4px */
}

.tile {
	width: 319px;
	height: 258px;
	border: none;
	background: var(--background-gradient);
	padding: 1px;
	/* border-top-color: rgba(236, 27, 36, 1); */
	/* border-bottom-color: rgba(236, 27, 36, 1); */
}

.tileContainer {
	padding: 30px 40px;
	background: #0b060f;
	height: 100%;
}

/* .tileHeader {
	gap: 16px;
} */

.tileTitleNumber {
	color: #787167;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ec1b24;
	font-family: var(--font-space-g);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 50px */
}

.tileTitle {
	color: #fff;
	font-family: var(--font-space-g);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 28px */
}

.tileText {
	color: #a1a1a1;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 22.4px */
}

/* .oddTile.cutIn {
	clip-path: polygon(
		0 0,
		20px 0,
		30px 10px,
		calc(100% - 30px) 10px,
		calc(100% - 20px) 0,
		100% 0,
		100% 100%,
		0 100%
	);
} */

/* .oddTile.cutIn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 20px;
  width: 40px;
  height: 10px;
  background: #0d0d0f;
  border-left: 2px solid #ff007a;
  border-right: 2px solid #ff007a;
} */

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	.labelContainer {
		height: 115px;
	}

	.title {
		font-size: 96px;
		width: 1350px;
	}

	.gameplay {
		padding: 0 64px;
	}

	.gameplayBg {
		width: calc(100% - 128px);
	}

	.oddTile {
		height: 165px;
		width: 165px;
	}

	.tile {
		height: 150px;
		width: 167px;
	}

	.oddTileHeader {
		gap: 30px 0;
	}

	.oddTileTitleNumber {
		font-size: 41px;
	}

	.oddTileTitle,
	.tileTitle {
		font-size: 10.5px;
	}

	.oddTileText,
	.tileText {
		font-size: 7.3px;
	}

	.tileTitleNumber {
		font-size: 26.21px;
	}

	.tileContainer {
		padding: 15.5px 20.5px;
	}

	.oddTile {
		padding: 9px 20.5px 26px;
	}

	.tiles {
		gap: 0 10px;
		height: 165px;
	}

	.tilesWrapper {
		padding: 0 34px;
		height: 165px;
	}

	.gameplayButtonContent {
		padding: 10px 15px !important;
	}

	.gameplayButtonText {
		font-size: 8.25px !important;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.section {
		margin-bottom: 43px;
	}
	
	.labelContainer {
		height: 77px;
	}

	.title {
		font-size: 64px;
		width: 950px;
	}

	.gameplay {
		padding: 0 32px;
	}

	.gameplayBg {
		width: calc(100% - 64px);
	}

	.tiles {
		flex-direction: row !important;
		gap: 10px;
	}

	.oddTile {
		height: 138px;
		width: 146px;
	}

	.tile {
		height: 128px;
		width: 146px;
	}

	.oddTileHeader {
		gap: 27px 0;
	}

	.oddTileTitleNumber {
		font-size: 37px;
	}

	.oddTileTitle,
	.tileTitle {
		font-size: 9px;
	}

	.oddTileText,
	.tileText {
		font-size: 6.5px;
	}

	.tileTitleNumber {
		font-size: 22.5px;
	}

	.tileContainer {
		padding: 13px 13px;
	}

	.oddTile {
		padding: 8px 13px 20px;
	}

	.tiles {
		gap: 0 10px;
		height: unset;
		align-items: flex-end !important;
		justify-content: center !important;
		gap: 10px !important;
	}

	.tilesWrapper {
		padding: 0 10px;
		height: unset;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
