.section {
	gap: 70px 0;
}

.labelContainer {
	padding-left: 200px;
	gap: 55px;
}

.label {
	color: #fff;
	text-align: right;
	font-family: var(--font-space-g);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 70px */
}

.line {
	height: 1px;
	border: none;
	background: rgba(255, 255, 255, 0.3);
}

.partnership {
	padding: 85px 40px;
}

.brands {
	height: 100px;
	width: auto;
	aspect-ratio: auto 1017 / 101;
}