.section {
	gap: 70px 0;
}

.labelContainer {
	padding-left: 200px;
	gap: 55px;
}

.label {
	color: #fff;
	text-align: right;
	font-family: var(--font-space-g);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 70px */
}

.line {
	height: 1px;
	border: none;
	background: rgba(255, 255, 255, 0.3);
}

.partnership {
	padding: 85px 40px;
	margin: 0;
}

.brands {
	height: 100px;
	width: auto;
	aspect-ratio: auto 1017 / 101;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	.section {
		gap: 30px 0;
	}

	.labelContainer {
		padding-left: 64px;
		gap: 28px;
	}

	.label {
		font-size: 22.5px;
	}

	.partnership {
		padding: 60px 40px;
	}

	.brands {
		height: 52px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.section {
		gap: 17px 0;
	}

	.labelContainer {
		padding-left: 32px;
		gap: 25px;
	}

	.label {
		font-size: 22.5px;
	}

	.partnership {
		padding: 27px 40px;
	}

	.brands {
		height: 23px;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
