.card__percent {
	--primary-light: rgba(228, 181, 107, 1);
	--primary: #00abdf;
	--primary-dark: rgba(235, 164, 53, 1);
	--white: #ffffff;
	--greyLight-1: #ebf5fc;
	--greyLight-2: #d5e0f3;
	--greyLight-3: #c1d9f0;
	--greyDark: #646b8c;
	position: absolute;
	top: 20px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 6rem;
	width: 103px;
	height: 103px;
	z-index: 1;
}

.card__number {
	width: auto;
	height: 51.6px;
	aspect-ratio: 1 / 1;
	position: absolute;
	color: var(--greyDark);
	font-size: 1.8rem;
	font-family: 'DM Sans', sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 9px;
	border: none;
	border-radius: 30px;
	background: linear-gradient(
		153deg,
		rgba(255, 255, 255, 0.3) -65.62%,
		rgba(255, 255, 255, 0.1) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	/* backdrop-filter: blur(25px); */
}

.card__number .progress {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%; /* 24px */
	text-shadow: 0 0 2px rgba(228, 181, 107, 0.5);
}

.card__number .days {
	color: #fff;
	text-align: center;
	font-family: var(--font-manrope);
	font-size: 8px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 9.6px */
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(228, 181, 107, 0.5);
}

.svg {
	position: relative;
	width: 103px;
	height: 103px;
	z-index: 1000;
	transform: rotate(-90deg);
}

.svg .circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-linecap: round;
	stroke-dasharray: 267.035;
	stroke-dashoffset: 267.035;
	transition: all 1s ease;
	stroke-width: 18;
}

.tournamentCard {
	width: 1202px;
	height: 672px;
	border: none;
	padding: 2px;
	background: var(--background-gradient);
}

.card__container {
	padding: 97px 53px 92px 53px;
	gap: 37px;
	overflow: hidden;
	/* z-index: -1; */
	background: url('../../assets/img/bgBox.png') #000000;
}

.card__img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
}

.tournamentInfo {
	width: 620px;
	padding: 40px;
	border-radius: 10px;
	background: linear-gradient(
		153deg,
		rgba(18, 18, 18, 0.3) -65.62%,
		rgba(0, 0, 0, 0.4) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.tournamentTitle {
	text-transform: uppercase;
	color: #d9d9d9;
	font-family: var(--font-space-g);
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 72px */
	margin: 0 0 8px;
}

.tournamentLore {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 27px;
}

.borderButton {
	border-radius: 35px;
	border-color: rgba(255, 255, 255, 0.2);
}

.borderButton:hover {
	border-color: #fff;
}

.borderButtonContent {
	border-radius: 35px;
	padding: 20px 30px;
	background: #fff;
}

.borderButtonText,
.playIcon {
	color: #121212;
	font-size: 16px;
}

.tournamentMeta {
	width: 620px;
	background: linear-gradient(
		153deg,
		rgba(18, 18, 18, 0.3) -65.62%,
		rgba(0, 0, 0, 0.4) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border: none;
	border-radius: 10px;
	gap: 62px;
	z-index: 2;
}

.card__stat {
	gap: 10px;
}

.card__stat__tag {
	color: #858484;
	font-family: var(--font-inter);
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 15.6px */
}

.card__stat__inner__wrapper {
	gap: 10px;
}

.card__stat__icon {
	width: 16.5px;
	height: 16.5px;
}

.card__stat__value {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 19.2px */
}

.statusIndicator {
	border: none;
	width: 14px;
	height: 14px;
	background: #069035;
	border-radius: 50%;
}

.flag,
.trophy {
	font-weight: 16px;
}
