.card__percent {
	--primary-light: rgba(228, 181, 107, 1);
	--primary: #00abdf;
	--primary-dark: rgba(235, 164, 53, 1);
	--white: #ffffff;
	--greyLight-1: #ebf5fc;
	--greyLight-2: #d5e0f3;
	--greyLight-3: #c1d9f0;
	--greyDark: #646b8c;
	position: absolute;
	top: 20px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 103px;
	height: 103px;
	z-index: 1;
}

.card__number {
	width: auto;
	height: 51.6px;
	aspect-ratio: 1 / 1;
	position: absolute;
	color: var(--greyDark);
	font-size: 1.8rem;
	font-family: 'DM Sans', sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 9px;
	border: none;
	border-radius: 30px;
	background: linear-gradient(
		153deg,
		rgba(255, 255, 255, 0.3) -65.62%,
		rgba(255, 255, 255, 0.1) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	/* backdrop-filter: blur(25px); */
}

.card__number .progress {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%; /* 24px */
	text-shadow: 0 0 2px rgba(228, 181, 107, 0.5);
}

.card__number .days {
	color: #fff;
	text-align: center;
	font-family: var(--font-manrope);
	font-size: 8px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 9.6px */
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(228, 181, 107, 0.5);
}

.svg {
	position: relative;
	width: 103px;
	height: 103px;
	z-index: 1000;
	transform: rotate(-90deg);
}

.svg .circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-linecap: round;
	stroke-dasharray: 267.035;
	stroke-dashoffset: 267.035;
	transition: all 1s ease;
	stroke-width: 18;
}

.tournamentCard {
	width: 1202px;
	height: 672px;
	border: none;
	padding: 2px;
	background: var(--background-gradient);
}

.card__container {
	padding: 97px 53px 92px 53px;
	gap: 37px;
	overflow: hidden;
	/* z-index: -1; */
	background: url('../../assets/img/bgBox.png') #000000;
}

.card__img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
}

.tournamentInfo {
	width: 620px;
	padding: 40px;
	border-radius: 10px;
	background: linear-gradient(
		153deg,
		rgba(18, 18, 18, 0.3) -65.62%,
		rgba(0, 0, 0, 0.4) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.tournamentTitle {
	text-transform: uppercase;
	color: #d9d9d9;
	font-family: var(--font-space-g);
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 72px */
	margin: 0 0 8px;
}

.tournamentLore {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 27px;
}

.borderButton {
	border-radius: 35px;
	border-color: rgba(255, 255, 255, 0.2);
}

.borderButton:hover {
	border-color: #fff;
}

.borderButtonContent {
	border-radius: 35px;
	padding: 20px 30px;
	background: #fff;
}

.borderButtonText,
.playIcon {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	color: #121212 !important;
	font-size: 16px !important;
}

.tournamentMeta {
	width: 620px;
	background: linear-gradient(
		153deg,
		rgba(18, 18, 18, 0.3) -65.62%,
		rgba(0, 0, 0, 0.4) 83.28%
	);
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border: none;
	border-radius: 10px;
	gap: 62px;
	z-index: 2;
}

.card__stat {
	gap: 10px;
}

.card__stat__tag {
	color: #858484;
	font-family: var(--font-inter);
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 15.6px */
}

.card__stat__inner__wrapper {
	gap: 10px;
}

.card__stat__icon {
	width: 16.5px;
	height: 16.5px;
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.card__stat__value {
	color: #fff;
	font-family: var(--font-manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 19.2px */
}

.statusIndicator {
	border: none;
	width: 14px;
	height: 14px;
	background: #069035;
	border-radius: 50%;
}

.flag,
.trophy {
	font-size: 16px !important;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px), (max-width: 950px) and (orientation: landscape) {
	.tournamentCard {
		width: 546px;
		height: 305px;
	}

	.card__container {
		padding: 14px 25px 43px;
		gap: 16px;
	}

	.tournamentInfo {
		padding: 18px;
	}

	.tournamentInfo,
	.tournamentMeta {
		width: 280px;
		border-radius: 4.6px;
	}

	.tournamentTitle {
		font-size: 27px;
		margin-bottom: 3px;
	}

	.tournamentLore {
		font-size: 8px;
		margin-bottom: 12px;
	}

	.borderButtonContent {
		padding: 9px 12px;
	}

	.borderButtonText,
	.playIcon {
		font-size: 7px !important;
	}

	.tournamentMeta {
		padding: 9px;
		gap: 28px;
	}

	.card__stat {
		gap: 4px;
	}

	.card__stat__tag {
		font-size: 5.5px;
	}

	.card__stat__inner__wrapper {
		gap: 2.5px;
	}

	.card__stat__icon {
		width: 6.5px;
		height: 6.5px;
	}

	.card__stat__value {
		font-size: 7px;
	}

	.statusIndicator {
		width: 7px;
		height: 7px;
	}

	.flag,
	.trophy {
		font-size: 6px !important;
	}

	.svg {
		display: none;
	}

	.card__percent {
		top: 14px;
		left: 25px;
		width: 52px !important;
		height: 52px !important;
	}

	.card__number {
		width: 52px !important;
		height: 52px !important;
	}

	.card__number {
		padding: 2.7px 4.5px !important;
		gap: 1px !important;
	}

	.card__number .progress {
		font-size: 22px !important;
	}

	.card__number .days {
		font-size: 8px !important;
	}

	.borderButton {
		padding: 2.5px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.tournamentCard {
		width: 244px;
		height: 136.5px;
		padding: 1px;
	}

	.card__container {
		padding: 20px 11px 18px;
		gap: 16px;
	}

	.tournamentInfo {
		padding: 8px;
	}

	.tournamentInfo,
	.tournamentMeta {
		width: 126px;
		border-radius: 2px;
	}

	.tournamentTitle {
		font-size: 12px;
		margin-bottom: 1.5px;
	}

	.tournamentLore {
		font-size: 3.5px;
		margin-bottom: 5.4px;
	}

	.borderButtonContent {
		padding: 4px 6px;
		gap: 2px;
	}

	.borderButtonText,
	.playIcon {
		font-size: 3.8px !important;
		line-height: normal;
	}

	.tournamentMeta {
		padding: 4px 4px 4.5px;
		gap: 12.5px;
	}

	.card__stat {
		gap: 2px;
	}

	.card__stat__tag {
		font-size: 2.6px;
	}

	.card__stat__inner__wrapper {
		gap: 0.5px;
	}

	.card__stat__icon {
		width: 2.8px;
		height: 2.8px;
		line-height: normal;
	}

	.card__stat__value {
		font-size: 3.24px;
		line-height: normal;
	}

	.statusIndicator {
		width: 2.8px;
		height: 2.8px;
	}

	.flag,
	.trophy {
		font-size: 2.8px !important;
	}

	.svg {
		display: none;
	}

	.card__percent {
		top: 20px;
		left: 11px;
		width: 20px !important;
		height: 20px !important;
	}

	.card__number {
		width: 20px !important;
		height: 20px !important;
	}

	.card__number {
		padding: 2px 2px 1.2px !important;
		gap: 2px !important;
	}

	.card__number .progress {
		font-size: 8px !important;
	}

	.card__number .days {
		font-size: 4px !important;
	}

	.borderButton {
		padding: 1.2px !important;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
