.card {
	padding: 2px;
	/* box-shadow: 0px 0px 20px 0px rgba(236, 27, 36, 1) inset; */
	clip-path: polygon(
		0px 5px,
		15% 0px,
		calc(15% + 5px) 10px,
		50% 2px,
		calc(85% - 5px) 10px,
		85% 0px,
		100% 5px,
		100% 92.5%,
		75% 97.5%,
		50% 100%,
		25% 97.5%,
		0px 92.5%
	);
	width: 400px;
	background: rgba(236, 27, 36, 1);
}

.content {
	clip-path: polygon(
		0px 5px,
		calc(15% - 4px) 0px,

		calc(15% + 1px) 10px,
		50% 2px,
		calc(85% - 1px) 10px,
		calc(85% + 4px) 0px,
		100% 5px,
		100% 92.5%,
		75% 97.5%,
		50% 100%,
		25% 97.5%,
		0px 92.5%
	);
	background: url('../../assets/img/bgBox.png') #000000;
	gap: 10px 0;
	padding: 15px 15px 30px;
}

.showcase {
	height: auto;
	aspect-ratio: 16 / 10;
}

/* .imageContainer {
} */

.image {
	object-fit: cover;
	object-position: center;
}

.header {
	gap: 6px 0;
}

.name {
	font-family: var(--font-space-g);
	font-weight: 700;
	font-style: Bold;
	font-size: 32px;
	line-height: 140%;
}

.description {
	font-family: var(--font-space-g);
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 140%;
}

.price {
	font-family: var(--font-space-g);
	font-weight: 700;
	font-style: Bold;
	font-size: 18px;
	line-height: 140%;
	color: rgba(236, 27, 36, 1);
}

.footer {
	gap: 6px 0;
	margin-top: 10px;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	.card {
		width: 310px;
	}

	.content {
		gap: 5px 0;
	}

	.name {
		font-size: 18.5px;
	}

	.description {
		font-size: 12px;
	}

	.price {
		font-size: 14px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.card {
		width: 156px;
	}

	.content {
		gap: 5px 0;
	}

	.name {
		font-size: 14px;
	}

	.description {
		font-size: 10px;
	}

	.price {
		font-size: 10px;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
