.clippedButton {
	clip-path: polygon(
		0 0,
		calc(100% - 12px) 0,
		100% 12px,
		100% 100%,
		50px 100%,
		46px calc(100% - 6px),
		24px calc(100% - 6px),
		20px 100%,
		0 100%
	);
	background: #ec1b24;
	border: none;
	padding: 1px;
}

.clippedButtonContent {
	clip-path: polygon(
		0 0,
		calc(100% - 12px) 0,
		100% 12px,
		100% 100%,
		50px 100%,
		46px calc(100% - 6px),
		22px calc(100% - 6px),
		18px 100%,
		0 100%
	);
	background: #ec1b24;
	border: none;
	gap: 10px;
	padding: 15px 40px 15px 23px;
}

.clippedButtonText {
	color: #0a0a0a;
	font-family: var(--font-manrope);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 19.2px */
}

.clippedButtonIcon {
	object-fit: contain;
	width: 23px;
	height: 23px;
	aspect-ratio: 1/1;
}

@media only screen and (max-width: 834px), (max-width: 950px) and (orientation: landscape) {
	.clippedButton {
		clip-path: polygon(
			0 0,
			calc(100% - 5px) 0,
			100% 5px,
			100% 100%,
			24px 100%,
			21px calc(100% - 4px),
			12px calc(100% - 4px),
			9px 100%,
			0 100%
		);
		padding: 1px;
	}

	.clippedButtonContent {
		clip-path: polygon(
			0 0,
			calc(100% - 5px) 0,
			100% 5px,
			100% 100%,
			24px 100%,
			21px calc(100% - 4px),
			10px calc(100% - 4px),
			7px 100%,
			0 100%
		);
		gap: 3.7px;
		padding: 6px 21px 8px 11.3px;
	}

	.clippedButtonText {
		font-size: 7px;
	}

	.clippedButtonIcon {
		width: 9px;
		height: 9px;
	}

	.socialIcon {
		width: 9px;
		height: 9px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
}
