.borderButton {
	all: revert;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 5px 6px;
	background: transparent;
}

.borderButton:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #ec1b24;
}

.borderButtonContent {
	border: none;
	border-radius: 3px;
	background: #ec1b24;
	padding: 10px 20px;
	gap: 8px;
}

.borderButtonText {
	color: #fff;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 14.4px */
}

.borderButtonIcon {
	object-fit: contain;
	font-size: 16px;
	aspect-ratio: 1/1;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {}

/* iPad Pro */
@media only screen and (max-width: 1024px) {}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {}

/* Small device */
@media only screen and (max-width: 834px) {}

/* Tiny device */
@media only screen and (max-width: 480px) {}

/* iPhone 12 */
@media only screen and (max-width: 390px) {}

/* Super Tiny device */
@media only screen and (max-width: 360px) {}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {}