.container {
	border-width: 1.2px;
	border-style: solid;
	background: rgba(24, 24, 24, 0.2);
	width: 1133px;
	height: 345px;
	overflow: visible;
	border-radius: 20px;
	position: relative;
}

.container.bronze {
	border-color: rgba(250, 230, 200, 1);
}

.container.silver {
	border-color: rgba(227, 242, 253, 1);
}

.container.gold {
	border-color: rgba(255, 167, 31, 1);
}

.container.epic {
	border-color: rgba(236, 27, 36, 1);
}

.shadowWrapper {
	overflow: hidden;
	z-index: -1;
	border-radius: 20px;
}

.shadow {
	height: 100%;
	width: 40%;
	flex: unset;
	border-radius: 160px;
	right: 50px;
	bottom: 0;
	position: absolute;
}

.shadow:not(.shadowClone).bronze {
	box-shadow: 0px 0px 100px 100px rgba(250, 230, 200, 0.2);
}

.shadow:not(.shadowClone).silver {
	box-shadow: 0px 0px 100px 100px rgba(227, 242, 253, 0.2);
}

.shadow:not(.shadowClone).gold {
	box-shadow: 0px 0px 100px 100px rgba(255, 167, 31, 0.2);
}

.shadow:not(.shadowClone).epic {
	box-shadow: 0px 0px 100px 100px rgba(236, 27, 36, 0.2);
}

.shadowClone.bronze {
	box-shadow: inset 0px 0px 100px 100px rgba(250, 230, 200, 0.2);
}

.shadowClone.silver {
	box-shadow: inset 0px 0px 100px 100px rgba(227, 242, 253, 0.2);
}

.shadowClone.gold {
	box-shadow: inset 0px 0px 100px 100px rgba(255, 167, 31, 0.2);
}

.shadowClone.epic {
	box-shadow: inset 0px 0px 100px 100px rgba(236, 27, 36, 0.2);
}

.imageContainer {
	position: absolute;
	z-index: 0;
	overflow: visible;
	border-radius: 0 0 20px 20px;
	width: 100%;
	bottom: 0;
	margin: 0;
	pointer-events: none;
}

.lootBox {
	aspect-ratio: auto;
	height: auto;
	width: 100%;
	object-fit: contain;
	object-position: bottom;
	border-radius: 0 0 20px 20px;
	pointer-events: none;
}

.content {
	position: relative;
	width: 55%;
	gap: 15px 0;
	padding-left: 110px;
}

.header {
	gap: 8px 0;
}

.title {
	font-family: var(--font-space-g);
	font-weight: 700;
	font-style: Bold;
	font-size: 64px;
	line-height: 140%;
	letter-spacing: 0%;
}

.title.bronze {
	color: rgba(250, 227, 195, 1);
}

.title.silver {
	color: rgba(227, 242, 253, 1);
}

.title.gold {
	color: rgba(255, 167, 31, 1);
}

.title.epic {
	color: rgba(236, 27, 36, 1);
}

.description {
	font-family: var(--font-space-g);
	font-weight: 500;
	font-style: Medium;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0%;
	color: rgba(255, 255, 255, 1);
}

.footer {
	gap: 0 75px;
}

.purchaseContainer {
	gap: 23px 0;
}

.price {
	font-family: var(--font-space-g);
	font-weight: 700;
	font-style: Bold;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0%;
	color: rgba(236, 27, 36, 1);
}

/* .probabilitiesContainer {} */

.probabilitiesTitle,
.probability {
	font-family: var(--font-space-g);
	font-weight: 500;
	font-style: Medium;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0%;
	color: rgba(255, 255, 255, 1);
}

.probabilities {
	margin: 5px 0;
}

/* .probability {} */

/* .probabilityName {} */

/* .probabilityValue {} */

.polyButtonContent {
	justify-content: flex-start !important;
	padding-left: 25% !important;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	.container {
		width: 524px;
		height: 160px;
	}

	.content {
		padding-left: 50px;
		gap: 10px 0;
	}

	.title {
		font-size: 29px;
	}

	.description {
		font-size: 11px;
	}

	.purchaseContainer {
		gap: 5px 0;
	}

	.price {
		font-size: 10px;
	}

	.footer {
		gap: 0 20px;
	}

	.polyButton {
		width: 90px !important;
	}

	.polyButtonContainer {
		padding: 2px !important;
	}

	.polyButtonContent {
		clip-path: polygon(
			0 0,
			calc(100% - 15%) 0,
			100% calc(60% + 2.5px),
			100% 100%,
			0 100%,
			0 0
		) !important;
		padding-left: 20% !important;
	}

	.polyButtonText {
		font-size: 10px !important;
	}

	.probabilitiesTitle,
	.probability {
		font-size: 10px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.container {
		width: 240px;
		height: 365px;
		justify-content: center !important;
		align-items: flex-start !important;
	}

	.shadow {
		height: 40%;
		width: 100%;
		right: 0;
	}

	.content {
		width: 100%;
		padding: 25px 25px 0;
	}

	.header {
		gap: 3.5px;
	}

	.title {
		font-size: 29px;
	}

	.description {
		font-size: 11px;
	}

	.footer {
		gap: 10px 0;
		justify-content: space-between !important;
	}

	.price {
		font-size: 9.25px;
	}

	.polyButton {
		width: 70px !important;
	}

	.polyButtonContainer {
		padding: 2px !important;
	}

	.polyButtonContent {
		clip-path: polygon(
			0 0,
			calc(100% - 15%) 0,
			100% calc(60% + 2.5px),
			100% 100%,
			0 100%,
			0 0
		) !important;
		padding-left: 25% !important;
	}

	.polyButtonText {
		font-size: 7.35px !important;
	}

	.probabilities {
		padding-left: 25px;
	}

	.probabilitiesTitle,
	.probability {
		font-size: 9.25px;
	}
}
