.tournamentCard {
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background: rgba(24, 24, 24, 1);
}

.tourneyWrapper {
	width: 55%;
	border: none;
	border-right: 1px solid var(--chain-red);
}

.tourneyInfo {
	padding: 80px 45px 65px 75px;
	gap: 35px 0;
}

/* .buttonContainer {} */

.polyButton {
	width: 265px !important;
}

.polyButtonText {
	font-family: var(--font-space-g) !important;
	font-weight: 500 !important;
	font-size: 22.19px !important;
	line-height: 120% !important;
	letter-spacing: 0% !important;
}

.leaderboardSection {
	gap: 7.5px 0;
	padding: 80px 30px 0;
}

.leaderboardTitle {
	font-family: var(--font-space-g);
	font-weight: 600;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: 0%;
}

.leaderboardWrapper {
	height: 575px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none; /* Firefox */
}

.leaderboardWrapper::-webkit-scrollbar {
	display: none; /* Chromium */
}

.leaderboard {
	gap: 18px 0;
	padding: 30px;
	background: #000000;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.leaderboardRank {
	height: 70px;
	border: 1px solid var(--chain-red);
	border-radius: 10px;
	background: rgba(24, 24, 24, 1);
	padding-right: 25px;
	overflow: hidden;
}

.rank {
	line-height: 70px;
	font-family: var(--font-space-g);
	font-weight: 700;
	font-size: 95px;
	letter-spacing: 0%;
	top: 0;
	left: -18px;
	z-index: 1;
	color: rgb(139, 139, 139);
}

.username {
	font-family: var(--font-space-g);
	font-weight: 600;
	font-size: 24.01px;
	line-height: 120%;
	letter-spacing: 0%;
	padding: 0 5px;
	border: none;
	border-radius: 5px;
	background: rgba(24, 24, 24, 1);
	z-index: 2;
}

.points {
	font-family: var(--font-space-g);
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0%;
	width: 150px;
	z-index: 2;
	color: rgba(236, 27, 36, 1);
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}
/* Small device */
@media only screen and (max-width: 834px),
	(min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
	.tournamentCard {
		border-width: 1px;
	}

	.tourneyInfo {
		padding: 40px 15px 35px 40px;
		gap: 17px 0;
	}

	.polyButton {
		width: 138px !important;
	}

	.polyButtonText {
		font-size: 11.5px !important;
	}

	.leaderboardSection {
		gap: 4px 0;
		padding: 40px 25px 0;
	}

	.leaderboardTitle {
		font-size: 24px;
	}

	.leaderboardWrapper {
		height: 295px;
		gap: 4px 0;
	}

	.leaderboard {
		padding: 15px;
		border-radius: 10px;
		gap: 9px 0;
	}

	.leaderboardRank {
		height: 37px;
		border-radius: 5px;
		padding-right: 15px;
	}

	.rank {
		line-height: 37px;
		font-size: 51.73px;
		left: -9px;
	}

	.username {
		font-size: 12px;
	}

	.points {
		font-size: 10px;
		width: 80px;
	}
}
/* Tiny device */
@media only screen and (max-width: 480px) {
	.tourneyWrapper {
		width: 100%;
		border: none;
	}

	.tourneyInfo, .leaderboardSection {
		padding: 30px 15px 0;
	}

	.leaderboardSection {
		padding-bottom: 30px;
	}

	.polyButton {
		width: 120px !important;
	}

	.polyButtonText {
		font-size: 10px !important;
	}
}
