.nav {
	padding: 43px 200px 10px;
	background: transparent;
	z-index: 2;
}

/* .logoContainer{

} */

.navItems {
	gap: 10px 0;
}

.logo {
	object-fit: contain;
	width: 240px;
	height: 32.8px;
}

.navLinksWrapper {
	border: none;
	border-radius: 6px;
	background: #fff;
	/* gap: 4px; */
	padding: 5px 5px 5px 14px;
}

.navLinks {
	/* gap: 4px; */
	list-style: none;
	margin: 0;
	padding: 0;
}

/* .navItemWrapper {} */

.navItem {
	padding: 12px 10px;
	color: #121212;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 16.8px */
	border: none;
	background: transparent;
	border-radius: 3px;
}

.navItem::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #121212;
	transition: width 0.3s ease-in-out;
}

.navItem:hover::after {
	width: 100%;
}

.playButton {
	padding: 12px 18px;
	border: none;
	border-radius: 3px;
	background: #121212;
	color: #fff;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 16.8px */
}

/* .playIcon {
	width: 6.562px;
	height: 6.563px;
} */

.tooltip {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -4rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.8rem 1.2rem;
	border-radius: 0.5rem;
	background: #121212;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
	pointer-events: none;
	white-space: nowrap;
	z-index: 10;
}

.tooltip__text {
	margin: 0;
}

.tooltip.fadeIn {
	opacity: 1;
}

.tooltip::after {
	content: '';
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #121212;
}

@keyframes fadeIn {
	0% {
		transform: translateY(-40px) scale(0.5);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.hamburgerWrapper {
	display: none;
	padding: 9.8px 6.5px;
	border: none;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
}

.hamburger {
	width: 20px;
	height: 20px;
	color: #000;
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	.nav {
		padding: 61px 64px 10px;
	}

	.logo {
		object-fit: contain;
		width: 150px;
		object-position: left;
		height: 21px;
	}

	.navItem {
		font-size: 10px;
		padding: 8px 8.5px;
	}

	.playButton {
		font-size: 10px;
		padding: 8px 12px;
	}

	.navLinksWrapper {
		padding: 3px 3px 3px 4px;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.nav {
		padding: 54px 32px 10px;
	}

	.navLinksWrapper {
		display: none;
	}

	.hamburgerWrapper {
		display: flex;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
